*
!/.gitignore
!/.gitattributes
!/.dockerignore
!/.env.example
!/.editorconfig
!/.eslintrc*
!/.prettierrc*
!/.github/
!/.github/**
!/.vscode/
!/.vscode/**

!/CHANGELOG.md
!/CONTRIBUTING.md
!/Dockerfile
!/IMPROVEMENTS.md
!/LICENSE
!/README.md
!/SECURITY.md

!/install.sh
!/uninstall.sh
!/jsconfig.json
!/package.json
!/package-lock.json
!/pnpm-lock.yaml
!/tsconfig.json
!/yarn.lock

!/skill/
!/skill/**
!/src/
!/src/**

**/.DS_Store
**/Thumbs.db
**/*.swp
**/*.swo
**/~
